.card-wrapper-view{
    grid-column: span 3;
    height: 357px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    margin: 14px 0px;
}

.card{
    width:250px;
    height: 100%;
    border: 1px solid #ebebeb;
    border-radius: 14px;
    position: relative;
}

.genre{
    font-size: 11px;
    font-weight: 200;
    position: absolute;
    top: 5%;
    left: 8%;
    /* padding:0px 25px; */
    /* margin-top: 20px; */
    color:#555555;
}

.brand{
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 8%;
    top:12%;
    /* padding:0px 25px;
    margin-top: 5px;
    margin-bottom: 25px; */
}

.price-label{
    font-size: 12px;
    font-weight:200;
    position: absolute;
    bottom:14%;
    left:8%;
    /* padding:0px 25px;
    margin-top: 20px; */
    color:#555555;
}

.price{
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    bottom:8%;
    left:8%;
    /* padding:0px 25px;
    margin-top: 5px; */
}


.image-wrapper-view{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.card-image{
    max-width: 248px;
}

@media screen and (max-width: 1450px) {
    .card-wrapper-view{
        grid-column: span 4;
        height: 357px;
    }
}

@media screen and (max-width: 1024px) {
    .card-wrapper-view{
        grid-column: span 6;
        height: 357px;
    }
}

@media screen and (max-width: 768px) {
    .card-wrapper-view{
        grid-column: span 6;
        height: 357px;
    }
}

@media screen and (max-width: 480px) {
    .card-wrapper-view{
        grid-column: span 12;
        height: 357px;
    }
}